@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700&display=swap');

* { padding: 0; margin: 0; box-sizing: border-box; font-family: 'Roboto Slab', serif; }

.app { display: flex; justify-content: center; align-items: center; height: 100vh; min-width: 520px; min-height: 320px; }
.heading { max-width: 720px; position: absolute; text-align: center; color: white; font-size: 24px; }
.heading h1 { margin-bottom: 24px; animation-name: heading-animate; animation-duration: 2s; }
.heading h5 { margin-bottom: 14px; animation-name: heading-animate; animation-duration: 3s; }
.heading p { font-size: 14px; animation-name: heading-animate; animation-duration: 4s; }

@keyframes heading-animate { 0% { opacity: 0; } 100% { opacity: 1; } }